*.DS_Store
*.pyc
*.egg-info
.idea/
xvfb.log
bin
venv
neural_perception/simulator/saved_model/
documentation/Dokumentation_Teamprojekt.aux
documentation/Dokumentation_Teamprojekt.bbl
documentation/Dokumentation_Teamprojekt.blg
documentation/Dokumentation_Teamprojekt.lof
documentation/Dokumentation_Teamprojekt.log
documentation/Dokumentation_Teamprojekt.out
documentation/Dokumentation_Teamprojekt.pdf
documentation/Dokumentation_Teamprojekt.synctex.gz
documentation/Dokumentation_Teamprojekt.toc
documentation/htwg/cover.aux
documentation/kapitel1/Einleitung.aux
documentation/kapitel2/DuckieTown.aux
documentation/kapitel3/DeepLearning.aux
documentation/kapitel4/Vorgehensweise.aux
documentation/kapitel5/Ergebnisse.aux
documentation/kapitel6/Fazit.aux
documentation/Dokumentation_Teamprojekt.lol


