vnev
.idea

Dokumentation_Teamprojekt.aux
Dokumentation_Teamprojekt.bbl
Dokumentation_Teamprojekt.blg
Dokumentation_Teamprojekt.lof
Dokumentation_Teamprojekt.log
Dokumentation_Teamprojekt.out
Dokumentation_Teamprojekt.pdf
Dokumentation_Teamprojekt.synctex.gz
Dokumentation_Teamprojekt.toc
htwg/cover.aux
kapitel1/Einleitung.aux
kapitel2/DuckieTown.aux
kapitel3/DeepLearning.aux
kapitel4/Vorgehensweise.aux
kapitel5/Ergebnisse.aux
kapitel6/Fazit.aux
texput.log
